<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiutong.work.dao.bank.TradeDao">

    <insert id="tradeDetail" parameterType="com.qiutong.work.model.TradeDetail" useGeneratedKeys="true" keyProperty="id">
        insert into trade_detail (source_user_id, target_user_id, source_card_number, target_card_number, money_amount, tag)
        values (#{sourceUserId}, #{targetUserId}, #{sourceCardNumber}, #{targetCardNumber}, #{moneyAmount}, #{tag})
    </insert>

    <update id="updateBalance">
        update balance set current_balance = #{num} where user_id = #{userId}
    </update>

    <update id="updateTradeDetail">
        update trade_detail set tag = #{tag} where id = #{id}
    </update>

    <select id="getBalanceForUpdate" resultType="com.qiutong.work.model.Balance">
        select * from balance where user_id = #{userId} for update;
    </select>

    <select id="getTradeFlows" resultType="com.qiutong.work.model.TradeDetail">
        select * from trade_detail
        <where>
            <if test="sourceUserId != null">
                AND source_user_id = #{sourceUserId}
            </if>
            <if test="targetUserId != null">
                AND target_user_id = #{targetUserId}
            </if>
            <if test="date != null">
                AND ctime > #{date}
            </if>

        </where>
    </select>

</mapper>